body {
    background-color: rgb(17, 21, 35);
    min-width:960px;
  }
  h1 {
    color: rgb(109, 164, 236);
  }
  p {
    color: rgb(105, 167, 237);
  } 

button {
  border-top: 1px solid #b5b5b5;
  border-radius: 10px;
  color: rgb(11, 15, 20);
  background:rgb(178, 200, 222);
  padding: 10px 20px;
  box-shadow: rgb(0, 0, 0) 1px 1px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

select {
  position: relative;
  display: inline-block;
  background-color: rgb(178, 200, 222);
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

/* table, th, td {
  border: 1px solid rgb(33, 37, 73);
  border-collapse: collapse;
  color: rgb(99, 152, 120);
  background-color: #111; 
  transition-property: background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 3s;
}

.transformed-state {
  background-color: blue;

  transition-property: background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 3s;
} */

table, th, td {
  border: 1px solid rgb(33, 37, 73);
  border-collapse: collapse;
  color: rgb(99, 152, 120);
  background-color: rgb(17, 21, 35);
  transition-property: background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 1s;
}

.transformed-state {
  background-color: #111;
  transition-property: background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 1s;
}


table {
  width: 85%;
  table-layout: fixed;
}

th, td {
  padding: 5px;
  text-align: left;
  min-width: 40px;
  word-wrap: break-word
}

th {
  height: 30px;
}


rect {
  fill:blue;
  stroke-width:0;
  fill-opacity:0.0;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
}

.transformed-state-rect {
  fill-opacity:0.5;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
}

.natural-state-rect {
  fill-opacity:0;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
}

.device {
  min-width: 600;
}

.deviceDisplay {
  font: 40px sans-serif;
  fill: red
}

.sidebar {
  height: 100%; 
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #111; 
  padding-top: 120px; 
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar select {
  padding: 8px 8px 8px 60px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #5768ff;
}


.img-overlay-wrap {
  position: relative;
  display: inline-block; /* <= shrinks container to image size */
  transition: transform 150ms ease-in-out;
}

.img-overlay-wrap img { /* <= optional, for responsiveness */
   display: block;
   max-width: 100%;
   height: auto;
}

.img-overlay-wrap svg {
  position: absolute;
  top: 0;
  left: 0;
}